<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" data-th-href="@{/css/help_page.css}" />
    <title>Shorter</title>
</head>
<body>

<div class="header">
    <h1>Link shorter</h1>
</div>
<div class="content">
    <div class="input-main">
        <div class="input-div">
            <div class="input-group">
                <h2>An error occurred to generate the URL</h2>
                <p>The URL is not valid, make sure the URL you tried to shorten is correct.<br>Possible errors:</p>
                <ul>
                    <li class="list">Check if the domain is correct</li><li class="list">Check if the site is online</li>
                    <li class="list">Check the length of the url is not too small</li>
                    <li class="list">Check the address bars and punctuation</li>
                    <li class="list">The URL may have been blocked</li>
                    <li class="list">The url may have been reported</li>
                    <li class="list">Make sure the url does not contain spam</li>
                </ul>
            </div>
        </div>
        <button onclick="location.href='/'" type="button">Go home</button>
    </div>
</div>

<div class="footer">
    <h4>Created by Artyom Danilin</h4>
</div>

</body>
</html>