<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" data-th-href="@{/css/index.css}" />
    <title>Shorter</title>
</head>
<body>
<div class="header">
    <h1>Link shorter</h1>
</div>
<div class="content">
    <div class="input-main">
        <div class="input-div">
            <div class="input-group">
                <form action="#" th:action="@{/short_link}" th:object="${link}" method="post">
                    <input type="text" class="form-control" placeholder="Enter your url ..." th:field="*{long}"/>
                        <span class="input-group-btn">
                            <button type="submit" class="ok_button">Ok</button>
                        </span>
                </form>
            </div>
        </div>
            <p>Довольно часто при общении в интернете люди пересылают друг другу ссылки. Иногда эти ссылки бывают длинными. Совсем иногда — очень длинными. Но почти всегда — слишком длинными. Для того чтобы избавиться от этой проблемы, был создан этот сайт. Да, я знаю, что таких тысячи, но этот же лучше!
                А дальше все просто: вставляете ссылку в поле для ввода, нажимаете "Клик" и получаете короткий, совсем короткий URL.
            </p>
    </div>
</div>

<div class="footer">
    <h4>Created by Artyom Danilin</h4>
</div>
</body>
</html>